function Main.main 0
push constant 20000
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 1
call String.new 1
push constant 97
call String.appendChar 2
call Output.printChar 1
pop temp 0
push constant 0
return
