function Memory.init 0
push constant 0
pop static 0
push constant 2048
pop static 1
push constant 0
push static 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push static 1
add
push constant 14335
pop temp 0
pop pointer 1
push temp 0
pop that 0
push static 1
pop static 2
push constant 0
return
function Memory.peek 0
push argument 0
push static 0
add
pop pointer 1
push that 0
return
function Memory.poke 0
push argument 0
push static 0
add
push argument 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Memory.alloc 1
push static 2
pop local 0
push static 2
push argument 0
add
pop static 2
push local 0
return
function Memory.deAlloc 0
push constant 0
return
