function String.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push argument 0
call Array.new 1
pop this 0
push constant 0
pop this 1
push pointer 0
return
function String.dispose 0
push argument 0
pop pointer 0
push this 0
call Array.dispose 1
pop temp 0
push constant 0
return
function String.length 0
push argument 0
pop pointer 0
push this 1
return
function String.charAt 0
push argument 0
pop pointer 0
push this 0
push argument 1
add
pop pointer 1
push that 0
return
function String.setCharAt 0
push argument 0
pop pointer 0
push this 0
push argument 1
add
push argument 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function String.appendChar 0
push argument 0
pop pointer 0
push this 0
push this 1
add
push argument 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 1
push constant 1
add
pop this 1
push pointer 0
return
function String.eraseLastChar 0
push argument 0
pop pointer 0
push this 1
push constant 1
sub
pop this 1
push constant 0
return
function String.intValue 2
push argument 0
pop pointer 0
push constant 0
pop local 0
push constant 0
pop local 1
push this 0
push constant 0
add
pop pointer 1
push that 0
push constant 45
eq
not
if-goto L1
push local 0
push constant 1
add
pop local 0
goto L2
label L1
label L2
label L3
push local 0
push this 1
lt
not
if-goto L4
push local 1
push constant 10
mul
push this 0
push local 0
add
pop pointer 1
push that 0
push constant 48
sub
add
pop local 1
push local 0
push constant 1
add
pop local 0
goto L3
label L4
push this 0
push constant 0
add
pop pointer 1
push that 0
push constant 45
eq
not
if-goto L5
push local 1
push constant 1
neg
mul
pop local 1
goto L6
label L5
label L6
push local 1
return
function String.setInt 5
push argument 0
pop pointer 0
push argument 1
push constant 0
lt
pop local 0
push argument 1
pop local 1
push constant 0
pop this 1
push local 0
not
if-goto L7
push local 1
push constant 1
neg
mul
pop local 1
goto L8
label L7
label L8
label L9
push local 1
push constant 0
eq
not
not
if-goto L10
push local 1
push constant 10
push local 1
push constant 10
div
mul
sub
pop local 2
push pointer 0
push local 2
push constant 48
add
call String.appendChar 2
pop temp 0
push local 1
push constant 10
div
pop local 1
goto L9
label L10
push local 0
not
if-goto L11
push pointer 0
push constant 45
call String.appendChar 2
pop temp 0
goto L12
label L11
label L12
push constant 0
pop local 3
label L13
push local 3
push this 1
push constant 2
div
lt
not
if-goto L14
push this 0
push local 3
add
pop pointer 1
push that 0
pop local 4
push this 0
push local 3
add
push this 0
push this 1
push local 3
sub
push constant 1
sub
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 0
push this 1
push local 3
sub
push constant 1
sub
add
push local 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 3
push constant 1
add
pop local 3
goto L13
label L14
push constant 0
return
function String.newLine 0
push constant 128
return
function String.backSpace 0
push constant 129
return
function String.doubleQuote 0
push constant 34
return
